* text=auto
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.glb binary
*.ttf binary
*.woff binary
*.woff2 binary
*.wav binary
*.mp3 binary
